:root{
    --primary:#1B4B66;
    --primary-tint:#639599;
    --error:#B00020;
    --highlight:#FF8C4B;
    --accent:#F4F4F4;
    --dark:#13101E;
    --bright:#FFFFFF;
    --grey: #F1F1F1;
    --light-text: #B6B6B6;
    --type-high-emphasis: #171520;
    --type-low-emphasis: #626262;
}