@import url('../libs/normalize.css');
@import url('../libs/reset.css');
@import url('./global.css');
@import url('./fonts.css');
@import url('../css/components/heder.css');
@import url('../css/components/infostatus.css');
@import url('../css/components/banner.css');
@import url('../css/components/arrivals.css');


* {
    box-sizing: border-box;
}

.header {
    max-width: 100%;
}

.main {
    max-width: 100%;
}

.footer {
    max-width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100%;
}

.main {
    flex: 1 1 auto;
    margin: 0 auto;   
}

