@import url('../libs/normalize.css');
@import url('../libs/reset.css');
@import url('./global.css');
@import url('./fonts.css');
@import url('../css/components/heder.css');
@import url('../css/components/infostatus.css');
@import url('../css/components/banner.css');
@import url('../css/components/arrivals.css');
@import url('../css/components/collection.css');
@import url('../css/components/brands.css');
@import url('../css/components/preview.css');
@import url('../css/components/footer.css');
@import url('../css/components/adaptive/header-ad.css');
@import url('../css/components/adaptive/infostatus-ad.css');
@import url('../css/components/adaptive/banner-ad.css');
@import url('../css/components/adaptive/arrivals-ad.css');
@import url('../css/components/adaptive/collection-ad.css');
@import url('../css/components/adaptive/brands-ad.css');
@import url('../css/components/adaptive/preview-ad.css');
@import url('../css/components/adaptive/footer-ad.css');
@import url('../css/components/adaptive/mobile-categories.css');
@import url('../css/components2/banner.css');
@import url('../css/components2/page-menu.css');
@import url('../css/components3/product-page.css');


* {
    box-sizing: border-box;
    font-family: 'Inter';
}

.header {
    max-width: 100%;
}

.main {
    max-width: 100%;
}

.footer {
    max-width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100%;
}

.main {
    flex: 1 1 auto;
    margin: 0 auto;   
}

.none {
    display: none;
}



