.cart {
    max-width: 1259px;
}

.cart-menu {
    display: flex;
    margin-top: 24px;
    align-items: center;
    column-gap: 8px;
}

.cart-menu__title,
.cart-menu__subtitle,
.product-name__info-title,
.product-name__info-description {
    margin-bottom: 0;
}

.cart-menu__main-title {
    margin-top: 28px;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 44px;
    color: var(--primary);
}

.prduct-name {
    display: flex;
    column-gap: 16px;
    align-items: center;
}

.product-name__info {
    display: flex;
    flex-direction: column;
    column-gap: 8px;
}

.table {
    width: 710px;
    margin-top: 36px;
}

.col1 {
    text-align: left;
}



.td1{
    transform: translateY(-30px);
}

.tbody-tr{
    transform: translateY(20px);
}

.cart-menu__common{
    display: flex;
}

.order-info{
    display: flex;
    column-gap: 230px;
    margin-top: 17px;
  
}

.order-total, .order-price{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.order-summary__paragraph{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: var(--dark);
}

.order-total__paragraph{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--type-low-emphasis);
}

.order-price__paragraph{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: var(---type-high-emphasis);
}

.td1-p{
    margin-top: 35px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-decoration-line: underline;
    color: var(--primary);
    border: none;
    background: none;
    cursor: pointer;
}

.td1-p1{
    margin-top: 35px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-decoration-line: underline;
    color: var(--error);
    border: none;
    background: none;
    cursor: pointer;
}

.product-name__info-title{
    text-align: left;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(---type-high-emphasis);
}

.product-name__info-description{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--type-low-emphasis);
}