.page-menu{
    max-width: 1272px;
    min-height: 2000px;
    margin-top: 68px;
    padding-left: 20px;
}

.page-menu__common{
    display: flex;
    column-gap:32px ;
    margin-top: 40px;
}

.page-menu__handbag{
    display: flex;
    width: 164px;
    height: 24px;
    align-items: center;
    column-gap: 8px;
}

.page-menu__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: var(--primary);
}

.page-menu__subtitle{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: var(--type-low-emphasis);
}

/* .footer-mobile__category, .footer-mobile, .footer-mobile__container-pointer{
    display: none;
} */

/*====================page-menu__nav=========================*/
.page-menu__nav{
    width: 286px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.page-menu__nav-item{
    height: 32px;
  
}

.page-menu__main-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 44px;
    color: var(--primary);
    margin-top: 24px;
}

.page-menu__nav-item{
    border-bottom: 1px solid var(--light-text);
    padding-bottom: 16px;
}

.page-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-item__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--dark);
}

.page-img{
    cursor: pointer;
}

/*====================page-menu__nav=========================*/

/*======================menu-card===========================*/

.menu-card{
    text-decoration: none;
    /* margin-top: 24px; */
}

.card-info__common{
    display: flex;
    justify-content: space-between;
}

.menu-card__product{
    max-width: 286px;
    height: 405px;
}


.card-info{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding-top: 7px;
}

.card-info__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--type-high-emphasis);
}

.card-info__subtitle{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--type-low-emphasis);
}

.menu-card__rating{
    display: flex;
    align-items: center;
    gap: 16px;
}

.raiting{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: var(--primary);
}


.card-price{
    display: flex;
    gap: 6px;
}

.card-price__new{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--type-high-emphasis);
}

.card-price__old{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--type-low-emphasis);
    text-decoration-line: line-through;
}

.card-price__sale{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color:#E21D1D ;
}

/*======================menu-card===========================*/

.menu-card{
    display: grid;
    grid-template-columns: repeat(3, 286px);
    grid-template-rows: repeat(3, 422px);
    column-gap: 31px;
    row-gap: 87px;
    /* margin-top: 24px; */
}

.page-menu__tabs{
    display: flex;
    column-gap: 8px;
    width: 306px;
    height: 36px;
    /* background: #F1F1F1;
    border-radius: 12px; */
    /* align-items: center; */
    justify-content: space-between;
    margin-top: 24px;

}

.page{
    display: flex;
    width: 235px;
    height: 36px;
    background-color: var(--grey);
    border-radius: 12px;
    padding: 4px;
    justify-content: center;
}

.page-number, .page-number__active{
    text-decoration: none;
    width: 42px;
    height: 28px;
    display: inline-block;
    padding: 4px 18px;
}

.number-button, .number-button__active{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: var(--type-low-emphasis);
}

.page-number6{
    text-decoration: none;
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: var(--type-low-emphasis);
    padding: 10px 18px;
}

.page-menu__next{
    background-color: var(--grey);
    width: 67px;
    height: 36px;
    border-radius: 12px;

}

.page-number__active{
    background-color: var(--primary);
    border-radius: 8px;
}

.number-button__active{
    color: var(--bright);
}

/*======================ul open=================================*/

.nav-active{
    display: block;
    width: 286px;
    height: 357px;
    border-bottom: none;
}

.nav-active__item-block{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--light-text);
    padding-bottom: 14px;
    padding-top: 14px;

}

.nav-open{
    margin-top: 16px;
}

.nav-open__item{
    /* width: 138px; */
    height: 40px;
}

.custom-checkbox{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border:2px solid var(--type-low-emphasis);
    border-radius: 2px;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
    background-image: url("/img/page-menu/checkbox.svg");
    background-size: 18px;
}

.sort{
    width: 271px;
    height: 56px;
    margin-left: 646px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    
}

.sort-block{
    display: flex;
    justify-content: space-between;
    width: 206px;
    height: 56px;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 12px;
    background: var(--grey);
    border-radius: 4px;
}


.sort-block__paragraph, .sort-paragraph{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--type-high-emphasis);
}

.sort-block__arrow{
    width: 24px;
    height: 24px;
}

.menu-card__img{
    width: 100%;
}

/* .footer-mobile__category{
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

.footer-sort, .footer-filter{
    width: 100%;
    height: 56px;
    background: white;
    padding: 16px 57px;
    border: 1px solid white;
    
   
}

.footer-sort__block, .footer-filter__block{
    max-width: 66px;
    height: 24px;
    display: flex;
    column-gap: 4px;
    align-items:center;

}
 

@media(max-width:1270px){
    .menu-card{
        grid-template-columns: repeat(3, 236px);
        grid-template-rows: repeat(3, 364px);
    }

    .sort{
        margin-left: 500px;
    }

    .page-menu{
        min-height: 1800px;
    }
}

@media(max-width:1115px){
    .menu-card{
        grid-template-columns: repeat(3, 185px);
        grid-template-rows: repeat(3, 317px);
        row-gap: 40px;
    }

    .sort{
        margin-left: 350px;  
    }

    .page-menu{
        min-height: 1600px;
    }
}

@media(max-width:965px){

    .page-menu__nav, .nav-active__item{
        width: 260px;
    }

    .menu-card{
        grid-template-columns: repeat(3, 165px);
        grid-template-rows: repeat(3, 290px);
        row-gap: 25px;
    }

    .page-menu__common{
        column-gap: 20px;
    }

    .card-info__title{
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
    }

    .card-info{
        row-gap: 3px;
    }

    .card-info__subtitle{
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
    }

    .raiting-img{
        width: 50%;
    }

    .raiting{
        font-size: 12px;
        line-height: 16px;
    }

    .card-price__new{
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
    }

    .card-price__old, .card-price__sale{
        font-weight: 500;
        font-size: 10px;
        line-height: 16px;
    }

    .card-price{
        justify-content: space-between;
    }

    .sort{
        margin-left: 285px;

    }


}

@media(max-width:880px){
    .page-menu__nav, .nav-active__item, .page-menu__wrapper{
        width: 190px;
    }

    .page-menu__main-title{
        font-size: 26px;
        line-height: 20px;
    }
    
}

@media(max-width:800px){
    .page-menu__nav, .nav-active__item, .page-menu__wrapper{
        width: 155px;
    }

    .page-item__title{
        font-size: 14px;
    }

    .nav-open__item label{
        font-size: 14px;
    }
}

@media(max-width:755px){
    .page-menu__nav, .nav-active__item, .page-menu__wrapper{
       display: none;
    }

    .page-menu__block{
        margin: 0 auto;
    }

    .sort-block{
        height: 40px;
        padding-top: 10px;
    }

    .page-menu__common{
        display: block;
    }

    .page-menu__block{
        margin: 0 auto;
        width: 560px;
    }
}

@media(max-width:610px){

    .menu-card{
        grid-template-columns: repeat(2, 165px);
        grid-template-rows: repeat(1, 290px);
        margin: 0 auto;
    }

    .sort{
        display: none;
    }

    .page-menu__common{
        width: 400px;
        margin: 0 auto;
        padding-top: 20px;
    }

    .page-menu__main-title{
        display: none;
    }

    .page-menu{
        margin-top: 0;
    }


    .footer-mobile__category{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }



}


