.arrivals{
    margin-top: 74px;
}

.arrivals-container{
    max-width: 1256px;
    height: 475px;
    margin: 0 auto;
    padding: 0 10px;
}

/* .card{
    display: flex;
    gap: 39px;
    margin: 0 auto;
    margin-top: 23.75px;
} */

.swiper-container{
    max-width: 1256px;
    height: 407.71px;

    margin-top: 23.75px;
    overflow: hidden;
 
}

.card-product{
    max-width: 286px;
    height: 371px;
}

.card-product__item{
    text-decoration: none;
}

.comon{
    display: flex;
    justify-content: space-between;
    margin-top: 9px;
}

.arrivals-data{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrivals-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 44px;
    color: var(--dark);
}

.arrivals-link{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: var(--primary);
    text-decoration: none; 
    position: relative;
}

.arrivals-block{
    display: flex;
    column-gap: 8px;
    margin-right: 28px;
}

.arrivals-link__img{
    color: var(--dark);
}

.description{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.description-brand{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--type-high-emphasis);
}

.description-specification{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--type-low-emphasis);
}

.description-price{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--type-high-emphasis);
}

.card-product__img{
    max-width: 100%;
}