.banner{
    overflow: hidden;
    margin-top: 24px;
}

.banner-container{
    position: relative;
    max-width: 1240px;
    max-height: 400px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 5px;
}

.banner-container__image{
    border-radius: 24px;
    max-width: 100%;
}

.banner-container__info{
    position: absolute;
    top: 10%;
    left: 43.3%;
    width: 699px;
    height: 316px;
    background: rgba(222, 222, 222, 0.7);
    backdrop-filter: blur(2.5px);
    padding: 0 5px;
    border-radius: 24px;

}

.info-caption{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 84px;
    color: var(--primary);
    padding-left: 47px;
    padding-top: 25px;
 
}

.info-paragraph{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 38px;
    color: var(--primary);
    height: 76px;
    padding-left: 47px;
    padding-top: 3px;
}

.info-link{
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    background: var(--primary);
    width: 180px;   
    height: 44px;
    color: var(--bright);
    padding: 12px 0 12px 69.5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    position: relative;
    margin-left: 49px;
    margin-top: 31px;
}

.info-link::before{
    content: url('../../img/header/arrow-right.svg');
    position: absolute;
    top: 28%;
    left: 37.5px;
}

.banner-container__image-2{
    display: none;
}




