
.collection-container{
    max-width: 1280px;
    height: 422px;
    margin: 0 auto;
    background: var(--primary);
}

.collection-item{
    max-width: 1280px;
    display: flex;
    gap: 40px;
    justify-content: center;
    /* flex-wrap: wrap; */
}

.collection-item__card{
    position: relative;
}

.collection-item__img{
    border-radius: 16px;
    max-width: 100%;
}

.collection-container__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 44px;
    color: var(--bright);
    padding-top: 32px;
    padding-left: 20px;
}

.collection-item{
    margin-top: 24px;
}

.collection-item__card-link{
    text-decoration: none;
}

.collection-item__paragraph{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: var(--type-high-emphasis);
    position: absolute;
    top: 82%;
    left: 6%;
   
}

