.infostatus{
    width: 1280px;
    height: 50px;
    margin: 0 auto;
    background: var( --grey);
}

.infostatus-container{
    padding: 16px 0 16px 237px;
}

.infostatus-container__paragraph{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var( --type-high-emphasis);
}