.preview{
  margin: 0 auto;
  margin-top: 68px;
  max-width: 1240px;
  max-height: 670px;
  padding: 0 5px;
}

.preview-container{
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.preview-container__paragraph{
  display: none;
}

.preview-common__block{
  display: flex;
  column-gap: 32px;
}

.preview-image__block-1{
  max-width: 100%;
  border-radius: 24px;

}

.preview-image__block-2, .preview-image__block-3{
  width: 100%;
  height: 100%;
  border-radius: 18px;
 
}

.preview-block-1, .preview-block-2, .preview-block-3 {
  position: relative;
}


.preview-block-1__paragraph{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 20px;
  color:#97451F;
  position: absolute;
  top: 27%;
  left: 3%;
  
}

.preview-block-1__title{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 68px;
  color:#97451F;
  position: absolute;
  top: 37%;
  left: 3%;
  width: 618px;
  height: 136px;
}

.preview-block-2__title{
  width: 309px;
  height: 104px;
  position: absolute;
  top: 10%;
  right: 8%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #A53F64;
  text-align: end;
}

.preview-block-2__arrow{
  position: absolute;
  right: 8%;
  bottom: 11%;
}

.preview-block-3__title{
  width: 232px;
  height: 104px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: var(--primary);
  text-align: end;
  position: absolute;
  top: 10%;
  right: 8%;
}

.preview-block-3__arrow{
  position: absolute;
  right: 8%;
  bottom: 11%;
}