@media(max-width:1180px){
    .banner-container__info{
        width: 670px;
        height: 260px;
        left: 500px;
    }

    .info-caption{
        font-size: 40px;
        padding-top: 10px;
        padding-left: 35px;
    }

    .info-paragraph{
        padding-left: 35px;
        
    }

    .info-link{
        margin-top: 20px;
        width: 150px;
        margin-left: 35px;
        padding-left: 60px;
    }

    .info-link::before {
        left: 25px;
    }
}

@media(max-width:1030px){
    .banner-container__info{
        width: 570px;
        height: 175px;
        left: 450px;
    }

    .info-caption{
        font-size: 30px;
        line-height: 50px;
    }
    
    .info-paragraph{
        font-size: 20px;
        line-height: 25px;
        width: 400px;
        height: 67px;
    }

    .info-link{
        margin-top: 0;
    }
}

@media(max-width:915px){
    .info-link{
    display: none;
    }
}

@media(max-width:435px){
    .banner-container__image{
        display: none;
    }

    .banner-container__info{
        display: none;
    }

    .banner-container__image-2{
        display: block;
        margin: 0 auto;
    }
}