@media(max-width:1100px){
    .brands-item{
    column-gap: 25px;
   }
}


@media(max-width:1000px){
    .brands-item{
    column-gap: 20px;
   }
}

@media(max-width:850px){
    .brands-item{
        flex-wrap: wrap;
        justify-content: center;
        max-width: 730px;
        margin: 0 auto;  
        margin-top: 24px;
        gap: 20px;
    }
}


@media(max-width:580px){
    .brands-img{
        width: 150px;
        height: 150px;
        
    }

    .brands{
        margin-top: 24px;
    }

    .brands-item {
        margin-top: 9px;
        gap: 25px;
    }
}

@media(max-width:520px){
    .brands-img{
        width: 99px;
        height: 100px;
    }

    .brands-item {
        gap: 38px;
    }

    .brands-container__title{
        font-size: 14px;
        line-height: 16px;
    } 

    .brands-container{
        padding-top: 24px;
    }
}

@media(max-width:390px){
    .brands-item {
        row-gap: 16px;
        column-gap: 24px;
    }
}