@media(max-width:1180px) {
    .search-form{
        margin-left: 80px;
    }
}

@media(max-width:1045px) {
    .search-form, .header-container__icon{
        display: none;
    }

    .header-container__mobile{
        display: flex;
        align-items: center;
        gap: 24px;
        margin-left: 300px;
        padding: 0 5px;
    }







}